{% extends 'body.html' %}
{% block title %}Contacts{% endblock title %}
{% load static %}
{% block main-content %}
<div class="padding">
     <div class="padding1">
     		<center><h1><i style="color:Yellow;">Kisan madhadh</i></h1></center>
     		<h2><i style="color:red;">Lakkireddy Balireddy engineering college<i></h2>
     		<h2><i style="color:red;">Mylavaram-521230<i></h2>
     		<h2><i style="color:red;">Email:kisanmadhadh@gmail.com<i></h2>
     		<h2><i style="color:red;">Contact us: 8639266238<i></h2>
     		
     </div>
</div>
{% endblock main-content %}
